<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiket Pesawat</title>
    <!-- Link Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Link Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Link JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- Untuk menampilkan pop up -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            alert("Selamat datang di Sistem Pemesanan Tiket Pesawat by Fransisca Fortua Simamora_Group7, silahkan melakukan pemesanan");
        });
    </script>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Selamat Datang Di Pemesanan Tiket Pesawat</h1>
        <h6 class="text-center">Fransisca Fortua Simamora_Group 7</h6>
        <p class="text-center"><a href="{{ url_for('booking') }}">Pesan Tiket</a></p>
    </div>
    {% include 'footer.html' %}
</body>
</html>
